

  <form method='post' action="/submit_form">
    <input type="text" name="key" value='' placeholder="key of happy thing">
    <input type="text" name="value" value="" placeholder="value of happy thing">
    <input type="submit" value="Click Me!">
  </form>
